<section class="cv-education" id="educacion">
  <h2>Educación</h2>
  <table>
    <caption>{{ caption }}</caption>
    <thead>
      <tr>
        <th scope="col">Institución</th>
        <th scope="col">Año</th>
        <th scope="col">Título obtenido</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <th scope="row">{{ item.institution }}</th>
        <td>{{ item.period }}</td>
        <td>{{ item.degree }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">{{ footnote }}</td>
      </tr>
    </tfoot>
  </table>
</section>
